name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        haxe-version:
          - "4.0.5"
          - "4.1.5"
          - "4.2.5"
          - "4.3.7"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: yarn
      - run: yarn lix install haxe ${{ matrix.haxe-version }}
      - run: yarn lix use haxe ${{ matrix.haxe-version }}
      - run: yarn test
